<h1>%%page_title%%</h1>
<style>
  .login-histories {
    border-collapse: collapse;
  }
  .login-histories th {
    text-align: left;
    border: 1px solid gray;
    padding: 5px;
    background-color: #ccc;
  }
  .login-histories td {
    border: 1px solid gray;
    padding: 5px;
  }

  .login-history-download {
    margin-top: 10px;
    text-align: left;
  }
</style>
<div>
  <p>%%Recent%% 25 %%record%%</p>
  <table class="login-histories">
    <tr>
      <th>timestamp</th>
      <th>user_login</th>
      <th>remote_ip</th>
      <th>user_agent</th>
    </tr>
    %%login_histories%%
  </table>
</div>
<div class="login-history-download">
  <a href="%%csv_download_link%%" class="button">Download CSV</a>
</div>